<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#/!">Presupuesto</a>
  </li>
  <li class="breadcrumb-item active">Acerca de nosotros</li>
</ol>


<div class="row">
	<div class="col-sm-6">
		<h1>Nuestra misión</h1>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 text-justify">
		Somos un talentoso equipo con base en Medellín cuya misión es ayudar a millones de personas a llegar a final de mes y sufrir menos con sus finanzas personales.
	</div>
</div>